<a href="https://colab.research.google.com/github/Seungyeon-04/Start/blob/main/bigdata_lab_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#자료형 : 값의 종류
#case1) 1개 값 : 파이썬이 만들어둔 자료형
#               --> 숫자 : 정수, 실수, 복소수 등등
#                         좀 더 엄밀하게 사용할 때는 numpy, etc pkg
#               --> 논리 값 : True / False
#               --> 문자 (참고) 특수문자 \(해당문자)

In [2]:
#continue -> for 중심 명령어
#continue 다음은 다 날림
a = [3,4,5,6,7,8,9]
for i in a :
  print('체크전의 값',i)
  if i ==5:
    print(i)
    continue
    print(i+10000)
  print("passsss")

체크전의 값 3
passsss
체크전의 값 4
passsss
체크전의 값 5
5
체크전의 값 6
passsss
체크전의 값 7
passsss
체크전의 값 8
passsss
체크전의 값 9
passsss

In [4]:
#파이썬 틱하게 코드를 쓰는 방법 중 하나
#     ==> 리스트 컴프리핸션!! : 여러개의 값을 돌려서 모은다!
#장점 : 코드가 간결
#단점 : 너무 중첩을 하면 오히려 가독성 문제가 생김
#기능 : 값을 돌려가면서(for) 원하는 값을 모은다(리스트)
#형식 : [모을 값 for i in 여러개]
#속도가 빨라지는건 아님
a=["a","b","c","d","e","f","g","c","i"]
###a 리스트에서 c인 원소 제거
b=[]
for i in a:
  if i !="c":
    b.append(i)
print(b)

['a', 'b', 'd', 'e', 'f', 'g', 'i']

In [5]:
[i for i in a]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'c', 'i']

In [6]:
[ i for i in a if i != "c"]

['a', 'b', 'd', 'e', 'f', 'g', 'i']

In [16]:
# 예) 위에있는 a 리스드에서
#     홀수번째에 위치한 값들만 "h"라는 문자를 추가하려고 함
#     ==> 결과 : ["ah","ch","eh","gh","ih"]
b = []
for i in range(0,len(a),2):
  b.append(a[i]+"h")
print(b)

['ah', 'ch', 'eh', 'gh', 'ih']

In [20]:
##컴프리핸서
[a[i]+"h" for i in range(0,len(a),2) ]

['ah', 'ch', 'eh', 'gh', 'ih']

In [19]:
for i,v in enumerate(a):
  if i%2 ==0:
    print(v+"h")

ah
ch
eh
gh
ih

In [21]:
[v+"h" for i,v in enumerate(a) if i%2 ==0]

['ah', 'ch', 'eh', 'gh', 'ih']

In [25]:
# 예) a의 운소들 중에서 짝수번째 값은 e 문자를 더하고 홀수번째 값은 o 문자를 더하자
# => 앞의 경우와의 차이는 경우가 2가지가 되는 것 케바케
b=[]
for i,v in enumerate(a):
  if i%2 ==0 :
    b.append(v+'e')
    print(v+'e')
  else :
    b.append(v+'o')
    print(v+'o')
print(b)

ae
bo
ce
do
ee
fo
ge
co
ie
['ae', 'bo', 'ce', 'do', 'ee', 'fo', 'ge', 'co', 'ie']

In [26]:
[ v+"e" if i%2 ==0 else v+"o" for i,v in enumerate(a)]

['ae', 'bo', 'ce', 'do', 'ee', 'fo', 'ge', 'co', 'ie']

In [27]:
##정리
# ==> 리스트컴프리핸션 자유롭게 하실 수 잇으면 좋다
# 돌리는것도 다양하게 : a, range, items,enumerate, etc...
# 조건이 있다면 [모을 값 for 롤링 (if 조건)]
#                [모을 값1  if 조건 else 모을값2 for 롤링]

In [29]:
### 덩어리 중심으로 코드 정리!
# 함수 ---> 클래스 ---> 패키지...
# 가장 기본적인 구조화 : 함수 y=f(x)
# ===> 3가지 요소 : 입력, 출력, 입출에 대한 관계(기능)
#      중심은 무엇을 수행 기능할지를 작성 하는 것이 핵심
# ===> 코드를 읽을 때 기능 중심으로 읽을 수 있음

In [30]:
# 함수를 만드는 기본 구조
# def 함수명(입력인자): ===> 입력 x에 대한 세팅
#     무엇을 할지 구현
#     return 출력

In [34]:
# 예) 파이썬에 더하는 함수 -->sum()
#     => 조금 부편한 점 : sum([v,v...])
#     -> 내가 원하는 더하는 함수 : sum2(10,20) => 30

## 입력 : 숫자 2개
## 기능 : 입력받은 2개 숫자를 더한 값 생성 출력
## 출력 : 더한 값

def sum2(a,b):
  # 입력으로 받은 a,b를 가지고 무엇을 할지 기술
  # 파이썬의 문법 + 코데 경우는 알고리즘도..
  result = a+b
  return result
## 참고) 함수 내에서 만든 변수들은 특별한 조치를 하지 않는 이상 함수내에서만 생존
sum2(50,40)

90

In [39]:
#===> 입력이 가변적으로 여러개가 들어와도 처리를 하면 어떨까
#     가변적인 입력을 처리할 때 : *args ==> 파이썬의 리스트 처럼
#                                 **args ==> 파이썬의 dict -> 특정 파라미터값을
## sumrandom(10,20,30)
## sumrandom(10,20,3,4,,3,2,2)
def sumrandom(*args):
  # args는 파이썬의 리스트 처럼..!
  # args = [10,20,30]
  # 개별 원소들을 꺼내면서 누적합
  # ++ 처음 시작에 대해서는 초기값 0
  temp = 0
  #입력받을 것들을 다 롤릴ㅇ --> for
  for i in args :
    temp += i
  return temp

In [40]:
sumrandom(10,20,30)

60

In [41]:
# 참고) 코테나 간단하게 작업을 할때는 예외처리신경 안써도 됨
#       1but 대면면접이나 큰 포르젝트에서는 신경 많이 써야함

In [81]:
#참고) 출력을 여러개를 내보내는 경우
#      ==> 입력 2개 숫자
#      출렵 :사칙연산 결과 4개를 출력
def multiple(a,b):
  return a+b, a-b, a*b, a/b

In [44]:
multiple(1,2)
##결과값이 듀플
# 자료 이용하기 위해서는 리스트로 바꾸면 됨

(3, -1, 2, 0.5)

In [47]:
### 함수 : 입력/출력을 중심으로 내가 무엇을 할지에 대한 기능화
#         ==> 여러번 재사용이 용이 + 가독성 + 구조화 etc
# ctrl+c/v 효율화

In [49]:
# 참고) 기능적인 룰/규칙
# ====> 데이터를 전처리 할 때 사용가능성은 낮지만 규칙적인 구현, 표현
#       *** lambda 함수 : 데이터 전처리 + 코테(정렬구현)

# 예) 데이터 전처리 : id_001, id_002, id_003,,, => 1,2,3,4
# => 규칙을 람다함수로 표현을 많이 함
def sum2(a,b):
  temp = a+b
  return temp

In [51]:
sum2(10,20)

30

In [52]:
# ---> 간단한 기능 중심의 표현 / 규칙의표현 : lambda 함수
(lambda a,b:a+b)(10,20)
# lambda 함수는 중요
# ==> 데이터 전처리 : apply + 어떤 일을 처리할 지에 대한 규칙 표현
# ==> 코테 : 특이한 정렬 조건에 대한 규칙을 표현할 때 -> 정답지 제출 전에..?

30

In [54]:
# 참고 : 점수가 80점 이상인 과목들이 몇 과목인가?
# ---->필터링 : 점수에 -->if
zumsu_list = [80,75,55,90]
cnt =0
for i in zumsu_list:
  if i >= 80:
    cnt +=1
print(cnt)

2

In [55]:
len([i for i in zumsu_list if i>= 80])

2

In [59]:
# ---> 가변적인 입력을 받을 때 파이썬 함수 : input()
a = input("성적을 입력하세요")
a

성적을 입력하세요100

'100'

In [60]:
int(a) +10

110

In [62]:
2#방법2를 가변적인 입력으로 하면
zumsu_list=[]
zumsu_list.append(int(input("국어점수")))

In [64]:
#과목이 더 늘어나면 어쩔까요
# ==> ctrl +c/v 고정적 부분 + 가변적 부분
# 고정적인 부분 => 하트코딩
# 가변적인 부분 -> 필요한 것들을 리스트업 //규칙

In [66]:
subjects = ["국아","수학","영어","사회","미술","체육"]
zumsulist = []
for sub in subjects :
  txt = sub + "를 입력하세요"
  zumsu_list.append(int(input(txt)))
avg_score = sum(zumsu_list)/len(zumsu_list)
print(avg_score)

국아를 입력하세요4
수학를 입력하세요5
영어를 입력하세요6
사회를 입력하세요3
미술를 입력하세요4
체육를 입력하세요2
5.25

In [68]:
##문제 : a = ["one","two"m,"three","four"]
#for문을 사용해서
#b = ["one1"...]로 만들어 보자
##시도 1) for&range 정수 인덱스 중심
##시도 2) for& 값 자체
a = ["one","tow","three","four"]
b = []
for i in range(len(a)):
  b.append(a[i]+str(i+1))
print(b)

['one1', 'tow2', 'three3', 'four4']

In [72]:
a = ["one","tow","three","four"]
b = []
for i,v in enumerate(a):
  b.append(a[i]+str(i+1))
print(b)

['one1', 'tow2', 'three3', 'four4']

In [75]:
# sol1) 내가 필요한 것이 숫자 --> range ---> 0,1,2,3 (리스트 정수 인덱스)
# sol2)                                      1,2,3,4 (뒤에 붙일 값 중심)
b = []
for i in range(1,5,1):
  print(i)
  print(a[i-1])
  b.append(a[i-1]+str(i))
print(b)

1
one
2
tow
3
three
4
four
['one1', 'tow2', 'three3', 'four4']

In [76]:
# 대상을 리스트의 값의 접근 정수 인덱스
b = []
for i in range(len(a)):
  b.append(a[i]+str(i+1))
print(b)

['one1', 'tow2', 'three3', 'four4']

In [78]:
#sol2) 값을 직접 돌리는 방식
## 필요한 것 1부터 1씩 증가하는 값 필요 -> 카운팅
cnt = 1
for i in a:
  print(i+str(cnt))
  cnt += 1

one1
tow2
three3
four4

In [80]:
## --> 정수 인덱스 중심으로 할때
[ a[i-1]+str(i) for i in range(1,5,1)]

['one1', 'tow2', 'three3', 'four4']

In [82]:
# 문제 : a = [1,2,3,4,5] 리스트가 았다면
#        => [1,3,5]의 리스트로 만들어 보세요
# => 기존의 값들에서 필요한 조건에 맞는 값들을 필터링

In [83]:
#sol1) 내가 제거/모을 값들에 대한 규칙이 있냐 없냐
#      규칙 : 홀수/짝수 판별
#       --> 살리는 값을 중심으로 하면 : 홀수만 살리자!
a=[1,2,3,4,5]
b=[]
for i in a:
  if i % 2 ==1:
    b.append(i)
b

[1, 3, 5]

In [85]:
#==> LC로 전환
[ i for i in a if i%2==1]

[1, 3, 5]

In [87]:
# sol2) 규칙이 없다고 가정하면
#   => 데이터를 수집할 때 : 예외 처리쪽에서..
#   => 코테에서도 종종 사용됨
# 규칙이 없다면 -> 예외적인 상황들을 다 나열
a=[1,2,3,4,5]
for i in a:
  if (i==1) or (i==3) or (i==5):
    print(i)

1
3
5

In [89]:
# ++,필터링 하려고 하는 여러개들을 나열
# ===> 필터링을 하고자 하는 애들을 모아두자
a = [1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,6,6]
b = [1,3,5]
for i in a:
  if i in b:
    print(i)

1
1
1
3
3
3
5
5
5

In [90]:
a = [1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,6,6]
b = [1,3,5]
for i in a:
  if i not in b: #거르는 부분 알려줌
    print(i)

2
2
2
4
4
4
6
6
6

In [91]:
#1,3,5를 제외한 모든 원소들에 대해서 +10을 하세요
# a=[1,1,2,3,4,4,4,5,6,6,3,3,2,2,2]
# => LC로 구현해보쟈
[i+10 for i in a if i not in [1,3,5]]

[12, 12, 12, 14, 14, 14, 16, 16, 16]

In [92]:
# 정리!!
# 값/ 조건에 대해서 정리/ 필터링 ==> 규칙이 있는지 없는지 판단!!
# ==> 규칙이 있다면 : 규칙에 대한 코드화
#                   : 어려운 코테(알고리즘 + 복잡한 상황 정리!!
# 값/ 조건에 대해서 정리/ 필터링 ==> 규칙이 있는지 없는지 판단!!
# ==> 규칙이 있다면 : 규칙에 대한 코드화
#                   : 어려운 코테(알고리즘 + 복잡한 상황)
# ==> 규칙이 없다면 : 최소한의 리스트업을 하는 방식을 고민
#                   : in, not in

In [93]:
##Dict는 데이터 처리 중 간혹 사용되는 자료형 => Dict를 잘 활용하는 연습 필요 =>type fast
# ==>오타 대소문자

In [94]:
# 참고) a가 어떤 자료형인지
#a[~~~] : 공통점 -->   값을 접근

#a : 리스트 --> a[정수],a[슬라이싱]
#a:dict ====> a[키값] : exact matching!
#a:numpy array => a[정수], a[슬라이싱], a[리스트]
#a:pasda DF/Serises => a[정수]

In [97]:
a={"a":30,"b":50,"c":10,"d":45,"e":85,"f":77}
# Q) 최고점과 최저점을 찾아보자 (많은 학생이 잇다고 가정)
max(a) # 딕셔너리는 키가 중심
# ==> f에 대한 문자열에 대한 숫자 코드값이 제일 크므로

'f'

In [98]:
ord("A")

65

In [99]:
ord("F")

70

In [100]:
ord("a")

97

In [101]:
# ==> ord 함수는 문자에 대한 코드값을 사요알 때 종종 코테에서 사용
#Dict는 key중심의 자료형 => 어떤 항목을 중심으로 할지 명시해야함
# 대상이 key : dict.keys()
# 대상이 valuew : dict.values()
# +++ 같이 : dict.itmes()
max(a.values())

85

In [104]:
a={"a":30,"b":50,"c":10,"d":45,"e":85,"f":77}
# Q) 누가 최고점을 받았고, 누가 최저점을 받았는지 이름 출력
# --> Dict에서 내가 필터링의 조건(최고점, 최저점) : values
#     출력을 하기 위해서는 이름 정보              : keys
# ==> 같이 보려면 items() -> (k,v)
min_val = min(a.values())
max_val = min(a.values())


# 우리반 학생들 모두에게 물어볼 때 -> 롤링
# ==> k,v 모두 한번에 처리하고자 items()

# if) a-10, b-10, c-10
for name, score in a.items():
  if score ==min_val:
    print("최소점 학생", name)
  elif score == max_val:
    print("최고점 학생", name)
  else:
    pass

최소점 학생 c

In [105]:
###05_범위(in_out)####

In [106]:
# Q) 한 점을 구성하는 x,y 좌표를 입력받아서

In [107]:
# (50,40), (50,80), (100,40), (100,80) 4개의 점을 꼭지점으로 하는 사각형 내부에 있는지 외부에 있는지 판별
# ==> 의도 : 문제들을 어떻게 코테문제들로 하는지..?

In [108]:
# part1) 사용자한테 좌표를 입력받아서
X = int(input("x좌표 입력하세요"))
y = int(input("y좌표 입력하세요"))

x좌표 입력하세요20
y좌표 입력하세요30

In [111]:
print(X,y)

20 30

In [112]:
# part2 ) in.out 판단
#     ==> 좌표를 도입하면 편함
      #     각 기준별로 돌릭벅으로 조건을 설정할 수 있음
      # ==> 부등식
      # ==> 안쪽을 중심으로 (가정)
      #     조건1) x>50 and x<100
      #     조건2) y>40 and y<80

In [ ]:
#